@using Student_Application_App.Classes;
@page "/"

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>
<div class="flex-column ">
    <div class="input-group mb-3 ">
        <input type="text" class="form-control me-2" style="max-width:7.5%" aria-label=" firstName " @bind="@x">
        <input type="text" class="form-control" style="max-width:7.5%" aria-label=" firstName " @bind="@y">
    </div>
    <div class="flex-row me-2 ">
        <button class="btn btn-outline-dark  fs-5" style="min-width:3.1vw" type="button " id="button-addon2" @onclick="CallAdd">+</button>
        <button class="btn btn-outline-dark  fs-5" style="min-width:3.1vw" type="button " id="button-addon2" @onclick="CallSubtract">-</button>
        <button class="btn btn-outline-dark  fs-5" style="min-width:3.1vw" type="button " id="button-addon2" @onclick="CallMultuply">X</button>
        <button class="btn btn-outline-dark  fs-5" style="min-width:3.1vw" type="button " id="button-addon2" @onclick="CallDivine">/</button>
    </div>
    <p>@resultString</p>
</div>




@code{
    string resultString = string.Empty;

    double x = default;
    double y = default;

    void CallAdd()
    {
        StaticCalculator.Add(x, y, out resultString);
    }
    void CallSubtract()
    {
        StaticCalculator.Subtract(x, y, out resultString);
    }
    void CallMultuply()
    {
        StaticCalculator.Multiply(x, y, out resultString);
    }
    void CallDivine()
    {
        StaticCalculator.Divide(x, y, out resultString);
    }

}